<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main"} -->
<main class="wp-block-group main"><!-- wp:template-part {"slug":"section-hero","tagName":"section","className":"hero"} /-->

<!-- wp:template-part {"slug":"section-feature","tagName":"section","align":"full","className":"feature"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","right":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:image {"align":"center","id":13400,"sizeSlug":"full","linkDestination":"custom","style":{"border":{"radius":"1.5rem"}},"className":"is-style-default banner"} -->
<figure class="wp-block-image aligncenter size-full has-custom-border is-style-default banner"><a href="https://ne-gnome.jp/" target="_blank" rel=" noreferrer noopener"><img src="https://okuetu-manmaru.com/data/uploads/banner_gnome.jpg" alt="" class="wp-image-13400" style="border-radius:1.5rem"/></a></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"section-blog","tagName":"section","className":"blog"} /-->

<!-- wp:template-part {"slug":"section-about","tagName":"section","className":"about"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","right":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:image {"align":"center","id":12844,"sizeSlug":"full","linkDestination":"custom","style":{"border":{"radius":"1.5rem"}},"className":"is-style-default banner"} -->
<figure class="wp-block-image aligncenter size-full has-custom-border is-style-default banner"><a href="https://onogurashi.jp/" target="_blank" rel=" noreferrer noopener"><img src="https://okuetu-manmaru.com/data/uploads/banner_onogurashi.jpg" alt="" class="wp-image-12844" style="border-radius:1.5rem"/></a></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"section-access","tagName":"section","className":"access"} /-->

<!-- wp:template-part {"slug":"section-contact","tagName":"section","className":"contact"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->